alembic
bleach
blinker
click
dominate
Flask
Flask-Bootstrap
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-PageDown
Flask-SQLAlchemy
Flask-WTF
html5lib
itsdangerous
Jinja2
Mako
Markdown
markupsafe==2.0.1
python-dateutil
python-dotenv
python-editor
six
SQLAlchemy==1.4
visitor
webencodings
werkzeug==0.16.1
WTForms
python-dotenv
psycopg2-binary
